npm config set scope capillarytech=true
//registry.npmjs.org/:_authToken=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
scope="capillarytech=true"
@capillarytech:registry=https://registry.npmjs.org/
registry=http://registry.npmjs.org/